@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';


/* .fi-sidebar-nav{
    @apply bg-
}

.fi-main-sidebar{
    @apply bg-amber-800
} */